<% provide(:title, "Sign In") %>

<div class="row">
  <div class="span6 offset3" style="text-align: center">
    <%= form_for(:session, url: sessions_path) do |f| %>

        <%= f.label :username %>
        <%= f.text_field :username %><br/>

        <%= f.label :password %>
        <%= f.password_field :password %> <br/><br/>

        <%= f.submit "Sign in", style: "width:75px; height:25px;" %>

    <% end %>
  </div>
</div>