<% provide(:title, @method + " a Section") %>
<div style="text-align: center">
  <h1><%= @method %> a Section</h1>

  <i>Fill in the information below to <%= @method %> a section.</i>
  <br/><br/>

  <%= form_for(@section) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :alias %>
      <%= f.text_field :alias %>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.label :home, "Home Page" %>
      <% if @method == "Add" %>
          <input type="hidden" name="home" value="home">{New Home Page}
      <% else %>
          <%= f.select(:home, @section.pages.all.collect { |page| [page.name, page.alias] }) %>
      <% end %>

      <%= f.check_box :visible %> Page is accessible by link (page is always accessible by URL)

      <%= f.submit @method + " Section" %>

  <% end %>
</div>