<!DOCTYPE html>
<html>
<head>

  <title>Westmont Computer Science | ADMIN - <%= yield(:title) %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <div id="header"></div>
  <div id="menu">
    <span id="menu_item"><%= link_to "Home", "/" %></span>
    <span id="menu_item"><%= link_to "Users", "/administrator/users" %></span>
    <span id="menu_item"><%= link_to "Sections & Pages", "/administrator/sections" %></span>
    <span id="menu_item"><%= link_to "News", "/administrator/news" %></span>
    <span id="menu_item"><%= link_to "Logout", "/administrator/logout" %></span>
  </div>
  <div id="content">

    <span style="text-align: center"><h1><%= yield(:title) %></h1></span>

    <%= yield %>

  </div>
  <div id="footer"></div>
</div>

</body>
</html>
