<!DOCTYPE html>
<html>
<head>

  <title>Westmont Computer Science | <%= yield(:title) %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <div id="header"></div>
  <div id="menu">
    <% Section.find(:all, :order => "position").each do |sec| %>
        <span id="menu_item"><%= link_to sec.name, "/" + sec.alias %></span>
    <% end %>
  </div>
  <div id="content">
    <table style="width: 100%">
      <tr>
        <% if !@submenu.nil? %>
            <td class="table_sub_menu">

              <h2>Sub-Menu</h2>
              <hr/>
              <div><%= image_tag "submenu_top.png" %></div>
              <% @submenu.pages.all.each do |sbmenu| %>
                  <% if sbmenu.visible %><div id="sbmenu" class="submenu"><%= link_to sbmenu.name, "/" + @submenu.alias + "/" + sbmenu.alias %></div><% end %>
              <% end %>
              <div><%= image_tag "submenu_bottom.png" %></div>

            </td>
        <% end %>
        <td class="table_content">
          <span style="text-align: center"><h1><%= yield(:title) %></h1></span>

          <%= yield %>
        </td>
      </tr>
    </table>

  </div>
  <div id="footer">&copy;2012 <a href="http://www.westmont.edu/">Westmont College</a>. All rights reserved.</div>
</div>
</body>
</html>
